.BioMainContent {
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.bioMainContent__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioMainContent__content>.typeH1{
    background: var(--color-text-deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bioMainContent__content>.typeSubTitle1{
    color: var(--color-White);
}

.bioMainContent__initScroll {
    width: -webkit-fill-available;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioMainContent__initScroll>button{
    color: var(--color-White);
}

.bioMainContent__initScroll>button>svg>path{
    stroke: var(--color-White);
}