.BioMainContent {
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../../assets/png/bio_hero.jpg);
    background-color: black;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    box-shadow:
    inset 0 -60px 30px rgba(0, 0, 0, 1);
}

.bioMainContent__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioMainContent__content>.typeH1{
    background: var(--color-text-deg-alternative);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bioMainContent__content>.typeSubTitle1{
    color: var(--color-White);
}

.bioMainContent__initScroll {
    width: -webkit-fill-available;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioMainContent__initScroll>button{
    color: var(--color-White);
}

.bioMainContent__initScroll>button>svg>path{
    stroke: var(--color-White);
}