.WorkMainContent{
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../../assets/png/work_main.jpg);
    background-color: black;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    box-shadow:
    inset 0 -60px 60px rgba(0, 0, 0, 1);
}

.workMainContent__content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.workMainContent__tittle{
    text-align: center;
    background: var(--color-text-deg-alternative);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.workMainContent__subTitle{
    color: var(--color-White);
}

.workMainContent__initScroll {
    width: -webkit-fill-available;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workMainContent__initScroll>button {
    color: var(--color-White);
}

.workMainContent__initScroll>button>svg>path {
    stroke: var(--color-White);
}

@media(max-width: 912px){
    .WorkMainContent{
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
    }
}