.BtnArrowDown{
    background: transparent;
    outline: none;
    border-color: transparent;
}

.BtnOutline{
    outline: none;
    color: var(--color-White);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--color-secondary);
    background: transparent;
}

.BtnOutline:hover{
    outline: none;
    color: var(--color-White);
    background: var(--color-secondary);
}