.BioContactContent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../../assets/png/bio_contact.jpg);
    background-color: black;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
}

.bioContactContent__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
}

.bioContactContent__cardTitle{
    width: -webkit-fill-available;
    text-align: center;
    display: block;
    align-self: start;
    background: var(--color-text-deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bioContactContent__cardTxt{
    color: var(--color-White);
}

.bioContactContent__icons{
    display: flex;
    gap: 1rem;
}


