.WorkDescriptionContent{
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-deep-black);
}

.workDescriptionContent__content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.workDescriptionContent__title>.typeH2{
    background: var(--color-text-deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.workDescriptionContent__txt>.typeBody1{
    color: var(--color-White);
}

.workDescriptionContent__initScroll {
    width: -webkit-fill-available;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workDescriptionContent__initScroll>button {
    color: var(--color-White);
}

.workDescriptionContent__initScroll>button>svg>path {
    stroke: var(--color-White);
}