.AboutMeContent{
    gap: 3rem;
    background-image: url(../../../../assets/png/aboutme_section.jpg);
    background-color: black;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat
}


.aboutMeContent__head{
    display: flex;
    flex-direction: column;
}

.aboutMeContent__head>.typeH2{
    background: var(--color-text-deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.aboutMeContent__head>.typeBody2{
    color: var(--color-White);
}

.aboutMeContent__content{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}

.aboutMeContent__cta {
    width: -webkit-fill-available;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.aboutMeContent__cards{
    width: -webkit-fill-available;
    display: flex;
    gap: 1rem;
}

.aboutMeContent__initScroll {
    width: -webkit-fill-available;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.aboutMeContent__card>h3{
    color: var(--color-secondary);
}

.aboutMeContent__card>p{
    color: var(--color-White);
}


.aboutMeContent__initScroll>button{
    color: var(--color-White);
}

.aboutMeContent__initScroll>button>svg>path{
    stroke: var(--color-White);
}

/*Mobile version*/

@media(max-width: 912px){
    .aboutMeContent__cards{
        flex-direction: column;
    } 
}


